body{
    max-width: 1366px;
    max-height: 768px;
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: center;
    font: black;
}

h4{
    text-align: center;
    color: darkgrey;
    margin-bottom: 10px;
}

h4 a{
    color: grey;
}


/*---------hover-----------*/
#container {
    width: 985px;
    height: 691px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container div {
    position: absolute;
    width: 400px;
    height: 400px;
}

#container img {
    display: block;
    position: absolute;
    transition: all 2s ease;
}

#topleft {
    top: 0;
    left: 0;
    cursor: pointer;
}

#topright {
    top: 0;
    right: 0;
    cursor: pointer;
}

#bottomleft {
    bottom: 0;
    left: 15%;
    cursor: pointer;
}

#bottomright {
    bottom: 0;
    right: 10%;
    cursor: pointer;
}

#center {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.start {
    max-width: 985px;
    left: 0;
    top: 0;
}

.topleft,
.topright,
.bottomleft,
.bottomright,
.center {
    width: 1800px;
}

.topleft {
    top: 0;
    left: -50px;
}

.topright {
    top: 0;
    left: -750px;
}

.bottomleft {
    left: -200px;
    top: -490px;
}

.bottomright {
    top: -490px;
    left: -650px;
}

.center {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------click-----------*/
.hidden {
    display: none;
}

.showing {
    display: block;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay article {
    box-sizing: border-box;
    background-color:whitesmoke;
    padding: 80px 40px 20px 40px;
    font-size:18px;
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow-y: scroll;
}

#overlay p{
    margin:10px;
}

.text {
    padding:10px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    width:30vw;
    margin: 30px auto 10px auto;
    border-radius: 10px;
    font-style:italic;
    font: light;

}

#overlay img{
    max-width:30vw;
    max-height:45vh;
    height:auto;
    margin:auto;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border-radius: 20px;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    color:#0c446d;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}


/*---------footer-----------*/
footer{
    margin:30px;
    text-align: center;
    line-height: 150%;
}

footer a{
    padding:10px;
}

a:link {
    text-decoration: none;
    padding:5px;
    color: black;
  }

a:visited{
    color:black;
}

a:hover{
    background-color:#14255d;
    color:whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}