body{
    max-width:1000px;
    margin: auto;
    font-family: 'Tinos', serif;
    font-size: 18px;
    line-height: 22px;
}

h1{
    font-family: 'Potta One', cursive;
    font-size: 40px;
    text-align: center;
    margin:50px;
}

h2{
    font-family: 'Redressed', cursive;
    font-size: 28px;
}

article{
    padding:5px 40px 15px 40px;
    margin:40px;
    border: 2.5px black dotted;
    border-radius: 30px;
}

footer{
    margin:30px;
    text-align: center;
    line-height: 150%;
}

footer a{
    padding:10px;
    margin:10px;
}

a:link {
    text-decoration: none;
    padding:5px;
    color: black;
  }

a:visited{
    color:black;
}

a:hover{
    background-color:#14255d;
    color:whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
